<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<p><a href="{% url 'all'%}">All List</a></p>
<p><a href="{% url 'news'%}">News List</a></p>
<p><a href="{% url 'photo'%}">Photo List</a></p>
<p><a href="">Like News</a></p>
<p><a href="">Like Comment</a></p>
<p><a href="{% url 'signup'%}">Sign Up</a></p>
<p><a href="{% url 'signin'%}">Log In</a></p>
<p><a href="{% url 'refresh'%}">Rafresh</a></p>
</body>
</html>